fastapi[standard]==0.128.0
uvicorn[standard]==0.32.1
gunicorn==23.0.0
pydantic==2.12.5
pydantic-settings==2.12.0
python-dotenv==1.2.1
sqlmodel==0.0.22
sqlalchemy==2.0.43
email-validator==2.3.0
python-multipart==0.0.22
passlib[argon2]==1.7.4
python-jose[cryptography]==3.5.0
cloudinary==1.44.1
pytest==8.3.5
alembic==1.14.0
psycopg[binary]==3.3.2
asyncpg==0.31.0
slowapi==0.1.9
supabase==2.27.3
